.node {
     width: 21px;
     height: 21px;
     border-radius: 2px;
     background-color: rgb(211, 211, 211);
     outline: 1px solid rgb(177, 177, 177);
     outline: 3px solid #333;
     display: inline-block;
}

.node-finish {
     background-color: red;
}

.node-start {
     background-color: green;
}

/* .node-visited {
     background:rgba(0, 190, 218, 0.75);
     transition: all;
} */

.node-visited {
     background-color: #333;
     animation-name: visitedAnimation;
     animation-duration: .25s;
     animation-timing-function: ease-out;
     animation-delay: 0;
     animation-direction: alternate;
     animation-iteration-count: 1;
     animation-fill-mode: forwards;
     animation-play-state: running;
}

@keyframes visitedAnimation {
     0% {
          transform: scale(0.9);
          background-color: #333;
          border-radius: 5%; 
      }

     50% {
          transform: scale(1.02);
     }

     75% {
          transform: scale(1.02);
     }

     100% {
          transform: scale(1);
          background-color: rgba(0, 190, 218, 0.75);
     }
}


.node-wall {
     /* background-color: rgb(12, 53, 71); */
     background-color: #333;
}

.node-shortest-path {
     background: rgba(0, 190, 218, 0.75);
     animation-name: shortestPath;
     animation-duration: 1.5s;
     animation-timing-function: ease-out;
     animation-delay: 0;
     animation-direction: alternate;
     animation-iteration-count: 1;
     animation-fill-mode: forwards;
     animation-play-state: running;
   }
   
   @keyframes shortestPath {
     0% {
       transform: scale(0.95);
     }
   
     50% {
       transform: scale(1.1);
     }
   
     100% {
       transform: scale(1);
       background-color: green
     }
}